body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3288 {
  position:absolute;
  left:176px;
  top:163px;
  width:505px;
  height:470px;
}
#u3289 {
  position:absolute;
  left:2px;
  top:227px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3290 {
  position:absolute;
  left:260px;
  top:242px;
  width:43px;
  height:16px;
}
#u3291 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3292 {
  position:absolute;
  left:232px;
  top:297px;
  width:71px;
  height:16px;
}
#u3293 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3294 {
  position:absolute;
  left:313px;
  top:293px;
  width:197px;
  height:25px;
}
#u3294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3295 {
  position:absolute;
  left:313px;
  top:340px;
  width:197px;
  height:25px;
}
#u3295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3296 {
  position:absolute;
  left:232px;
  top:342px;
  width:71px;
  height:16px;
}
#u3297 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3298 {
  position:absolute;
  left:313px;
  top:400px;
  width:197px;
  height:25px;
}
#u3298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3299 {
  position:absolute;
  left:232px;
  top:402px;
  width:71px;
  height:16px;
}
#u3300 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3301 {
  position:absolute;
  left:313px;
  top:452px;
  width:197px;
  height:25px;
}
#u3301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3302 {
  position:absolute;
  left:232px;
  top:454px;
  width:71px;
  height:16px;
}
#u3303 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3304 {
  position:absolute;
  left:500px;
  top:568px;
  width:140px;
  height:40px;
}
#u3305 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3306 {
  position:absolute;
  left:313px;
  top:240px;
  width:197px;
  height:22px;
}
#u3306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3306_input:disabled {
  color:grayText;
}
