body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:838px;
}
#u1963 {
  position:absolute;
  left:99px;
  top:128px;
  width:186px;
  height:838px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:411px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1965 {
  position:absolute;
  left:113px;
  top:148px;
  width:15px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1967 {
  position:absolute;
  left:138px;
  top:147px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u1969 {
  position:absolute;
  left:206px;
  top:146px;
  width:19px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1971 {
  position:absolute;
  left:137px;
  top:180px;
  width:85px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1972 {
  position:absolute;
  left:0px;
  top:-1px;
  width:85px;
  white-space:nowrap;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1973 {
  position:absolute;
  left:137px;
  top:246px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1975 {
  position:absolute;
  left:137px;
  top:212px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1977 {
  position:absolute;
  left:137px;
  top:311px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1979 {
  position:absolute;
  left:137px;
  top:345px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1981 {
  position:absolute;
  left:137px;
  top:378px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1983 {
  position:absolute;
  left:137px;
  top:411px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1985 {
  position:absolute;
  left:137px;
  top:477px;
  width:85px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1986 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1987 {
  position:absolute;
  left:137px;
  top:514px;
  width:85px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1988 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1989 {
  position:absolute;
  left:136px;
  top:549px;
  width:99px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1990 {
  position:absolute;
  left:0px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1991 {
  position:absolute;
  left:136px;
  top:586px;
  width:85px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1992 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1993 {
  position:absolute;
  left:136px;
  top:623px;
  width:85px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1994 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1997 {
  position:absolute;
  left:113px;
  top:279px;
  width:15px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1999 {
  position:absolute;
  left:138px;
  top:279px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u2001 {
  position:absolute;
  left:203px;
  top:278px;
  width:19px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2005 {
  position:absolute;
  left:112px;
  top:445px;
  width:15px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2007 {
  position:absolute;
  left:137px;
  top:444px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u2009 {
  position:absolute;
  left:204px;
  top:443px;
  width:19px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2013 {
  position:absolute;
  left:112px;
  top:662px;
  width:15px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2015 {
  position:absolute;
  left:137px;
  top:660px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u2017 {
  position:absolute;
  left:202px;
  top:660px;
  width:19px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2019 {
  position:absolute;
  left:136px;
  top:693px;
  width:85px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2020 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2021 {
  position:absolute;
  left:137px;
  top:730px;
  width:85px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2022 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2023 {
  position:absolute;
  left:137px;
  top:767px;
  width:113px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2024 {
  position:absolute;
  left:0px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2025 {
  position:absolute;
  left:136px;
  top:803px;
  width:99px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2026 {
  position:absolute;
  left:0px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2027 {
  position:absolute;
  left:135px;
  top:839px;
  width:113px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2028 {
  position:absolute;
  left:0px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2030 {
  position:absolute;
  left:135px;
  top:877px;
  width:57px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2031 {
  position:absolute;
  left:0px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2032 {
  position:absolute;
  left:109px;
  top:880px;
  width:19px;
  height:19px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u2034 {
  position:absolute;
  left:202px;
  top:878px;
  width:19px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2036 {
  position:absolute;
  left:135px;
  top:914px;
  width:57px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2037 {
  position:absolute;
  left:0px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u2039 {
  position:absolute;
  left:98px;
  top:68px;
  width:1028px;
  height:56px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:20px;
  width:1024px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u2041 {
  position:absolute;
  left:1028px;
  top:82px;
  width:30px;
  height:28px;
  font-size:16px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u2043 {
  position:absolute;
  left:898px;
  top:82px;
  width:26px;
  height:27px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u2045 {
  position:absolute;
  left:963px;
  top:88px;
  width:27px;
  height:22px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2047 {
  position:absolute;
  left:1063px;
  top:87px;
  width:24px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2049 {
  position:absolute;
  left:978px;
  top:82px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u2050 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:840px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  position:absolute;
  left:289px;
  top:128px;
  width:837px;
  height:840px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:412px;
  width:833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2054 {
  position:absolute;
  left:303px;
  top:145px;
  width:809px;
  height:126px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:55px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:341px;
  top:153px;
  width:57px;
  height:16px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u2058 {
  position:absolute;
  left:311px;
  top:149px;
  width:23px;
  height:21px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  position:absolute;
  left:341px;
  top:189px;
  width:71px;
  height:16px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2062 {
  position:absolute;
  left:436px;
  top:185px;
  width:92px;
  height:25px;
}
#u2062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:871px;
  top:220px;
  width:92px;
  height:29px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065 {
  position:absolute;
  left:303px;
  top:288px;
  width:809px;
  height:668px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:326px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2067 {
  position:absolute;
  left:315px;
  top:299px;
  width:14px;
  height:14px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2069 {
  position:absolute;
  left:341px;
  top:298px;
  width:57px;
  height:16px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2079 {
  position:absolute;
  left:490px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2080 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2081 {
  position:absolute;
  left:526px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u2082 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2083 {
  position:absolute;
  left:562px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2084 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2085 {
  position:absolute;
  left:598px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2086 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2087 {
  position:absolute;
  left:634px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2088 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2089 {
  position:absolute;
  left:670px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2090 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2091 {
  position:absolute;
  left:814px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2092 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2093 {
  position:absolute;
  left:850px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2094 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2095 {
  position:absolute;
  left:990px;
  top:924px;
  width:25px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u2097 {
  position:absolute;
  left:1022px;
  top:918px;
  width:47px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u2098 {
  position:absolute;
  left:12px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2099 {
  position:absolute;
  left:1077px;
  top:924px;
  width:13px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2101 {
  position:absolute;
  left:778px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2102 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2103 {
  position:absolute;
  left:742px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2104 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2105 {
  position:absolute;
  left:706px;
  top:918px;
  width:28px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u2106 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u2107 {
  position:absolute;
  left:894px;
  top:918px;
  width:82px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u2108 {
  position:absolute;
  left:8px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2109 {
  position:absolute;
  left:500px;
  top:928px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u2110 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2111 {
  position:absolute;
  left:960px;
  top:928px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.800000011920929;
}
#u2112 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2113 {
  position:absolute;
  left:860px;
  top:928px;
  width:8px;
  height:8px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2115 {
  position:absolute;
  left:315px;
  top:331px;
  width:775px;
  height:51px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:18px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2117 {
  position:absolute;
  left:451px;
  top:349px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2119 {
  position:absolute;
  left:679px;
  top:349px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2121 {
  position:absolute;
  left:934px;
  top:349px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:2px;
}
#u2123 {
  position:absolute;
  left:315px;
  top:451px;
  width:775px;
  height:1px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:-8px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:968px;
  top:407px;
  width:29px;
  height:16px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:915px;
  top:406px;
  width:29px;
  height:16px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
