body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:1105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:111px;
  top:53px;
  width:705px;
  height:1105px;
}
#u935 {
  position:absolute;
  left:2px;
  top:544px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u936 {
  position:absolute;
  left:134px;
  top:92px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:232px;
  top:133px;
  width:57px;
  height:16px;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u940 {
  position:absolute;
  left:134px;
  top:182px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:232px;
  top:225px;
  width:57px;
  height:16px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u944 {
  position:absolute;
  left:134px;
  top:276px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:232px;
  top:319px;
  width:57px;
  height:16px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u948 {
  position:absolute;
  left:134px;
  top:379px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u950 {
  position:absolute;
  left:134px;
  top:558px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u952 {
  position:absolute;
  left:169px;
  top:599px;
  width:155px;
  height:100px;
}
#u953 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u954 {
  position:absolute;
  left:381px;
  top:599px;
  width:155px;
  height:100px;
}
#u955 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u956 {
  position:absolute;
  left:592px;
  top:599px;
  width:155px;
  height:100px;
}
#u957 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u959 {
  position:absolute;
  left:262px;
  top:727px;
  width:42px;
  height:42px;
}
#u960 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u962 {
  position:absolute;
  left:272px;
  top:747px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u963 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u964 {
  position:absolute;
  left:272px;
  top:747px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u965 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u967 {
  position:absolute;
  left:179px;
  top:728px;
  width:42px;
  height:42px;
}
#u968 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u969 {
  position:absolute;
  left:192px;
  top:748px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u970 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u971 {
  position:absolute;
  left:187px;
  top:750px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u972 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u975 {
  position:absolute;
  left:479px;
  top:727px;
  width:42px;
  height:42px;
}
#u976 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u978_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u978 {
  position:absolute;
  left:489px;
  top:747px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u979 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u980 {
  position:absolute;
  left:489px;
  top:747px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u981 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u983 {
  position:absolute;
  left:396px;
  top:728px;
  width:42px;
  height:42px;
}
#u984 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u985 {
  position:absolute;
  left:409px;
  top:748px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u986 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u987 {
  position:absolute;
  left:404px;
  top:750px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u988 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u991 {
  position:absolute;
  left:690px;
  top:730px;
  width:42px;
  height:42px;
}
#u992 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u994_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u994 {
  position:absolute;
  left:700px;
  top:750px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u995 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u996 {
  position:absolute;
  left:700px;
  top:750px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u997 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u999 {
  position:absolute;
  left:607px;
  top:731px;
  width:42px;
  height:42px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1001 {
  position:absolute;
  left:620px;
  top:751px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1002 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u1003 {
  position:absolute;
  left:615px;
  top:753px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1004 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u1005 {
  position:absolute;
  left:170px;
  top:827px;
  width:155px;
  height:100px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u1007 {
  position:absolute;
  left:382px;
  top:827px;
  width:155px;
  height:100px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u1009 {
  position:absolute;
  left:593px;
  top:827px;
  width:155px;
  height:100px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1012 {
  position:absolute;
  left:263px;
  top:955px;
  width:42px;
  height:42px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1015_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1015 {
  position:absolute;
  left:273px;
  top:975px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1016 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1017 {
  position:absolute;
  left:273px;
  top:975px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u1018 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1020 {
  position:absolute;
  left:180px;
  top:956px;
  width:42px;
  height:42px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1022 {
  position:absolute;
  left:193px;
  top:976px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1023 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u1024 {
  position:absolute;
  left:188px;
  top:978px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1025 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1028 {
  position:absolute;
  left:480px;
  top:955px;
  width:42px;
  height:42px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1031_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1031 {
  position:absolute;
  left:490px;
  top:975px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1032 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1033 {
  position:absolute;
  left:490px;
  top:975px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u1034 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1036 {
  position:absolute;
  left:397px;
  top:956px;
  width:42px;
  height:42px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1038 {
  position:absolute;
  left:410px;
  top:976px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1039 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u1040 {
  position:absolute;
  left:405px;
  top:978px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1041 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1044 {
  position:absolute;
  left:691px;
  top:958px;
  width:42px;
  height:42px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1047_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1047 {
  position:absolute;
  left:701px;
  top:978px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1048 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1049 {
  position:absolute;
  left:701px;
  top:978px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u1050 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1052 {
  position:absolute;
  left:608px;
  top:959px;
  width:42px;
  height:42px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u1054 {
  position:absolute;
  left:621px;
  top:979px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1055 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u1056 {
  position:absolute;
  left:616px;
  top:981px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1057 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1058 {
  position:absolute;
  left:517px;
  top:1077px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1060 {
  position:absolute;
  left:647px;
  top:1077px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:205px;
  top:1296px;
  width:474px;
  height:201px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:92px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:276px;
  top:1343px;
  width:71px;
  height:16px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:276px;
  top:1382px;
  width:71px;
  height:16px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1068 {
  position:absolute;
  left:347px;
  top:1340px;
  width:300px;
  height:22px;
}
#u1068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1068_input:disabled {
  color:grayText;
}
#u1069 {
  position:absolute;
  left:347px;
  top:1377px;
  width:300px;
  height:22px;
}
#u1069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1069_input:disabled {
  color:grayText;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1070 {
  position:absolute;
  left:517px;
  top:1436px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u1072 {
  position:absolute;
  left:572px;
  top:1117px;
  width:0px;
  height:0px;
}
#u1072_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:167px;
}
#u1072_seg1 {
  position:absolute;
  left:-134px;
  top:159px;
  width:138px;
  height:8px;
}
#u1072_seg2 {
  position:absolute;
  left:-134px;
  top:159px;
  width:8px;
  height:20px;
}
#u1073 {
  position:absolute;
  left:-50px;
  top:146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1074 {
  position:absolute;
  left:1033px;
  top:702px;
  width:500px;
  height:44px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1075 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1076 {
  position:absolute;
  left:729px;
  top:696px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1076_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:280px;
  height:8px;
}
#u1076_seg1 {
  position:absolute;
  left:272px;
  top:-4px;
  width:8px;
  height:32px;
}
#u1076_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1077 {
  position:absolute;
  left:102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:70px;
}
#u1078 {
  position:absolute;
  left:540px;
  top:182px;
  width:87px;
  height:70px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:27px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:420px;
  top:225px;
  width:99px;
  height:16px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1082 {
  position:absolute;
  left:1033px;
  top:485px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1083 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1084 {
  position:absolute;
  left:729px;
  top:479px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1084_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1084_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:280px;
  height:8px;
}
#u1084_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1085 {
  position:absolute;
  left:74px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1086 {
  position:absolute;
  left:1019px;
  top:225px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1087 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1088 {
  position:absolute;
  left:642px;
  top:222px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1088_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:353px;
  height:8px;
}
#u1088_seg1 {
  position:absolute;
  left:345px;
  top:-4px;
  width:8px;
  height:29px;
}
#u1088_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1089 {
  position:absolute;
  left:137px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1090 {
  position:absolute;
  left:880px;
  top:1341px;
  width:500px;
  height:62px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1091 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1092 {
  position:absolute;
  left:680px;
  top:1378px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1092_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:185px;
  height:8px;
}
#u1092_seg1 {
  position:absolute;
  left:177px;
  top:-25px;
  width:8px;
  height:29px;
}
#u1092_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1093 {
  position:absolute;
  left:53px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
