body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:1105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  position:absolute;
  left:111px;
  top:53px;
  width:705px;
  height:1105px;
}
#u815 {
  position:absolute;
  left:2px;
  top:544px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u816 {
  position:absolute;
  left:134px;
  top:92px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:232px;
  top:133px;
  width:57px;
  height:16px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u820 {
  position:absolute;
  left:134px;
  top:182px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:232px;
  top:223px;
  width:57px;
  height:16px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u824 {
  position:absolute;
  left:134px;
  top:276px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826 {
  position:absolute;
  left:232px;
  top:319px;
  width:57px;
  height:16px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u828 {
  position:absolute;
  left:134px;
  top:379px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u830 {
  position:absolute;
  left:134px;
  top:558px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u832 {
  position:absolute;
  left:169px;
  top:599px;
  width:155px;
  height:100px;
}
#u833 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u834 {
  position:absolute;
  left:381px;
  top:599px;
  width:155px;
  height:100px;
}
#u835 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u836 {
  position:absolute;
  left:592px;
  top:599px;
  width:155px;
  height:100px;
}
#u837 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u839 {
  position:absolute;
  left:262px;
  top:727px;
  width:42px;
  height:42px;
}
#u840 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u842_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u842 {
  position:absolute;
  left:272px;
  top:747px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u843 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u844 {
  position:absolute;
  left:272px;
  top:747px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u845 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u847 {
  position:absolute;
  left:179px;
  top:728px;
  width:42px;
  height:42px;
}
#u848 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u849 {
  position:absolute;
  left:192px;
  top:748px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u850 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u851 {
  position:absolute;
  left:187px;
  top:750px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u852 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u855 {
  position:absolute;
  left:479px;
  top:727px;
  width:42px;
  height:42px;
}
#u856 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u858 {
  position:absolute;
  left:489px;
  top:747px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u859 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u860 {
  position:absolute;
  left:489px;
  top:747px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u861 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u863 {
  position:absolute;
  left:396px;
  top:728px;
  width:42px;
  height:42px;
}
#u864 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u865 {
  position:absolute;
  left:409px;
  top:748px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u866 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u867 {
  position:absolute;
  left:404px;
  top:750px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u868 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u871 {
  position:absolute;
  left:690px;
  top:730px;
  width:42px;
  height:42px;
}
#u872 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u874 {
  position:absolute;
  left:700px;
  top:750px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u875 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u876 {
  position:absolute;
  left:700px;
  top:750px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u877 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u879 {
  position:absolute;
  left:607px;
  top:731px;
  width:42px;
  height:42px;
}
#u880 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u881 {
  position:absolute;
  left:620px;
  top:751px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u882 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u883 {
  position:absolute;
  left:615px;
  top:753px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u884 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u885 {
  position:absolute;
  left:170px;
  top:827px;
  width:155px;
  height:100px;
}
#u886 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u887 {
  position:absolute;
  left:382px;
  top:827px;
  width:155px;
  height:100px;
}
#u888 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:100px;
}
#u889 {
  position:absolute;
  left:593px;
  top:827px;
  width:155px;
  height:100px;
}
#u890 {
  position:absolute;
  left:2px;
  top:42px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u892 {
  position:absolute;
  left:263px;
  top:955px;
  width:42px;
  height:42px;
}
#u893 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u895_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u895 {
  position:absolute;
  left:273px;
  top:975px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u896 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u897 {
  position:absolute;
  left:273px;
  top:975px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u898 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u900 {
  position:absolute;
  left:180px;
  top:956px;
  width:42px;
  height:42px;
}
#u901 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u902 {
  position:absolute;
  left:193px;
  top:976px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u903 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u904 {
  position:absolute;
  left:188px;
  top:978px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u905 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u908 {
  position:absolute;
  left:480px;
  top:955px;
  width:42px;
  height:42px;
}
#u909 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u911_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u911 {
  position:absolute;
  left:490px;
  top:975px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u912 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u913 {
  position:absolute;
  left:490px;
  top:975px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u914 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u916 {
  position:absolute;
  left:397px;
  top:956px;
  width:42px;
  height:42px;
}
#u917 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u918 {
  position:absolute;
  left:410px;
  top:976px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u919 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u920 {
  position:absolute;
  left:405px;
  top:978px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u921 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u924 {
  position:absolute;
  left:691px;
  top:958px;
  width:42px;
  height:42px;
}
#u925 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u927_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u927 {
  position:absolute;
  left:701px;
  top:978px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u928 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u929 {
  position:absolute;
  left:701px;
  top:978px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u930 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u932 {
  position:absolute;
  left:608px;
  top:959px;
  width:42px;
  height:42px;
}
#u933 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:27px;
  height:9px;
}
#u934 {
  position:absolute;
  left:621px;
  top:979px;
  width:22px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u935 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:9px;
}
#u936 {
  position:absolute;
  left:616px;
  top:981px;
  width:11px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u937 {
  position:absolute;
  left:2px;
  top:-6px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u938 {
  position:absolute;
  left:517px;
  top:1077px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u939 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u940 {
  position:absolute;
  left:647px;
  top:1077px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u941 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:205px;
  top:1296px;
  width:474px;
  height:201px;
}
#u943 {
  position:absolute;
  left:2px;
  top:92px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:276px;
  top:1343px;
  width:71px;
  height:16px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:276px;
  top:1382px;
  width:71px;
  height:16px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u948 {
  position:absolute;
  left:347px;
  top:1340px;
  width:300px;
  height:22px;
}
#u948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u948_input:disabled {
  color:grayText;
}
#u949 {
  position:absolute;
  left:347px;
  top:1377px;
  width:300px;
  height:22px;
}
#u949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u949_input:disabled {
  color:grayText;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u950 {
  position:absolute;
  left:517px;
  top:1436px;
  width:110px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u951 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u952 {
  position:absolute;
  left:572px;
  top:1117px;
  width:0px;
  height:0px;
}
#u952_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:167px;
}
#u952_seg1 {
  position:absolute;
  left:-134px;
  top:159px;
  width:138px;
  height:8px;
}
#u952_seg2 {
  position:absolute;
  left:-134px;
  top:159px;
  width:8px;
  height:20px;
}
#u953 {
  position:absolute;
  left:-50px;
  top:146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u954 {
  position:absolute;
  left:1033px;
  top:702px;
  width:500px;
  height:62px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u955 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u956 {
  position:absolute;
  left:729px;
  top:696px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u956_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:280px;
  height:8px;
}
#u956_seg1 {
  position:absolute;
  left:272px;
  top:-4px;
  width:8px;
  height:32px;
}
#u956_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u957 {
  position:absolute;
  left:102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
