body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:643px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:359px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:238px;
  top:198px;
  width:405px;
  height:359px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:172px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:325px;
  top:248px;
  width:71px;
  height:16px;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2173 {
  position:absolute;
  left:406px;
  top:245px;
  width:107px;
  height:22px;
}
#u2173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2173_input:disabled {
  color:grayText;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2174 {
  position:absolute;
  left:325px;
  top:299px;
  width:71px;
  height:16px;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2176 {
  position:absolute;
  left:406px;
  top:295px;
  width:107px;
  height:25px;
}
#u2176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  position:absolute;
  left:325px;
  top:346px;
  width:71px;
  height:16px;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2179 {
  position:absolute;
  left:406px;
  top:342px;
  width:107px;
  height:25px;
}
#u2179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2180 {
  position:absolute;
  left:313px;
  top:455px;
  width:90px;
  height:38px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182 {
  position:absolute;
  left:445px;
  top:456px;
  width:90px;
  height:38px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  position:absolute;
  left:325px;
  top:391px;
  width:71px;
  height:16px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2186 {
  position:absolute;
  left:406px;
  top:387px;
  width:107px;
  height:25px;
}
#u2186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
